upstream php-handler {
    server unix:/var/run/php-fpm/php-fpm.sock;
}

server {
    listen 80;
    server_name paste_here_ip_of_web;

    root /var/www/html;
    rewrite ^/(.*\.php)(/)(.*)$ /$1?file=/$3 last;
    location ^~ / {
            try_files $uri $uri/ /index.php?q=$request_uri;
            index index.php index.html index.htm;
            location ~ \.php$ {
                   include fastcgi.conf;
                   fastcgi_pass php-handler;
            }
    }
}